In [ ]:
#1.Convert a integer to a floating-point number.
print("1.Convert a integer to a floating-point number.")
num = 23
print(num,type(num))
print("After conversion:")

print(float(num),type(float(num)))


#2nd way
num = 6
inttofloat = float(num)
print(inttofloat,type(inttofloat))

1.Convert a integer to a floating-point number.
23 <class 'int'>
After conversion:
23.0 <class 'float'>
6.0 <class 'float'>

In [ ]:
#2.Convert a float to a integer.
print("2.Convert a float to a integer.")
num1 = 23.01
print(num1,type(num1))
print("After conversion:")
print(int(num1) ,type(int(num1)))

#Another way
num_1 = 6.6
floattoint = int(num_1)
print(floattoint, type(floattoint))

2.Convert a float to a integer.
23.01 <class 'float'>
After conversion:
23 <class 'int'>
6 <class 'int'>

In [ ]:
#3.Convert a integer to a string.
print("3.Convert a integer to a string.")
num2 = 26
print(num2,type(num2))
print("After conversion:")
itostr = str(num2)
print(itostr,type(itostr))

3.Convert a integer to a string.
26 <class 'int'>
After conversion:
26 <class 'str'>

In [ ]:
#4.Convert a list to a tuple.
print("4.Convert a list to a tuple.")
list1 = [2,3,45,32,56]
print(list1, type(list1))
print("After conversion:")
listtotuple = tuple(list1)
print(listtotuple,type(listtotuple))

4.Convert a list to a tuple.
[2, 3, 45, 32, 56] <class 'list'>
After conversion:
(2, 3, 45, 32, 56) <class 'tuple'>

In [ ]:
#5.Covnert a tuple to a list.
print("5.Covnert a tuple to a list.")
tuple1 = (23,45,45.67,"Akanksha")
print(tuple1,type(tuple1))
print("After conversion:")
tupletolist = [val for val in tuple1]
print(tupletolist,type(tupletolist))

5.Covnert a tuple to a list.
(23, 45, 45.67, 'Akanksha') <class 'tuple'>
After conversion:
[23, 45, 45.67, 'Akanksha'] <class 'list'>

In [ ]:
#6.Convert a decimal number to binary.
print("6.Convert a decimal number to binary.")
num3 = 45
print(num3,type(num3))
print("After conversion:")
num_3 = bool(num3)
print(num_3,type(num_3))

6.Convert a decimal number to binary.
45 <class 'int'>
After conversion:
True <class 'bool'>

In [ ]:
#7.Convert a non-zero number to boolean.
print("7.Convert a non-zero number to boolean.")
num4 = int(input("Enter a no.:"))
if(num4 != 0):
  num_4 = bool(num4)
  print(num_4,type(num_4))
else:
  print(num4," is not a nonzero number ")

7.Convert a non-zero number to boolean.
Enter a no.:45
True <class 'bool'>