In [ ]:
#1.Print number from 1 to 5 using a while loop.
print("1.Print number from 1 to 5 using a while loop.")
i = 1
while(i<=5):
  print(i)
  i +=1

1.Print number from 1 to 5 using a while loop.
1
2
3
4
5

In [ ]:
#2.Calculate the summ of number from 1 to 10 using a while loop.
print("Calculate the sum of number from 1 to 10 using a while loop.")
i = 1
sum=0
while(i <= 10):
   sum += i
   i += 1
print(sum)

Calculate the sum of number from 1 to 10 using a while loop.
55

In [ ]:
#3.Calculate the factorial of a number using a for loop.
print("Calculate the factorial of a number using a for loop.")
num = int(input("Enter a no. to find factorial:"))
fact = 1
if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
  for i in range(1, num +1):
      fact = fact *i
  print(f"factorial of {num} is",fact)

Calculate the factorial of a number using a for loop.
Enter a no. to find factorial:7
factorial of 7 is 5040

In [ ]:
#4.Count the number of vowel in a string using a for loop.
print("Count the number of vowel in a string using a for loop.")
st = input("Enter the string : ")

count = 0
for i in st:
  if i in "aeiouAEIOU":
    count += 1
print("no. of vowels is: ",count)

Count the number of vowel in a string using a for loop.
Enter the string : Akanksha
no. of vowels is:  3

In [ ]:
#5.Print a pattern using nested loop.
print("5.Print a pattern using nested loop.")
row = int(input("Entr the no of rows: "))
for i in range(1,row +1):
  for j in range(row-i):
    print(" ", end ="")
  for j in range(2*i-1):
    print("*",end="")
  print()

5.Print a pattern using nested loop.
Entr the no of rows: 5
    *
   ***
  *****
 *******
*********

In [ ]:
#6.Generate a multiplication table using nested loop.
print("6.Generate a multiplication table using nested loop.")
num = int(input("Enter the no.: "))
for i in range(1,13):
  print(f"{num} x {i} = {num * i}")

6.Generate a multiplication table using nested loop.
Enter the no.: 45
45 x 1 = 45
45 x 2 = 90
45 x 3 = 135
45 x 4 = 180
45 x 5 = 225
45 x 6 = 270
45 x 7 = 315
45 x 8 = 360
45 x 9 = 405
45 x 10 = 450
45 x 11 = 495
45 x 12 = 540